/* =============
    Gallery
============= */
#gallery {
    padding-bottom: 10px;
    @include md {
        padding-bottom: 50px;
    }

    div {
        ul {
            display: grid;
            grid-gap: 2%;
            grid-template-areas: "gallery_1" "gallery_2" "gallery_3";
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 300px);
            @include md {
                grid-template-areas: "gallery_2 gallery_2 gallery_2" "gallery_1 gallery_1 gallery_3";
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 400px 350px;
            }
            @include xl {
                grid-template-areas: "gallery_1 gallery_2 gallery_3";
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 300px;
            }

            li {
                background-position: center;
                background-size: cover;
            }

            li:nth-child(1) {
                background-image: url("../img/gallery/gallery_1.jpg");
                grid-area: gallery_1;
                @include md {
                    background-position: left;
                }
                @include xl {
                    background-position: center;
                }
            }

            li:nth-child(2) {
                background-image: url("../img/gallery/gallery_2.jpg");
                grid-area: gallery_2;
            }

            li:nth-child(3) {
                background-image: url("../img/gallery/gallery_3.png");
                grid-area: gallery_3;
                @include md {
                    background-position: left;
                }
                @include xl {
                    background-position: center;
                }
            }
        }
    }
}
