/* =============
    Gallery
============= */
#gallery{
    margin-bottom: 10px;
    div{
        ul{
            display: grid;
            grid-template-columns: repeat (1, 1fr);
            grid-template-areas: "gallery_1" "gallery_2" "gallery_3";
            li{
            background-size: cover;
            height:300px;
            margin-bottom: 10px;
            }
            li:nth-child(1){
            grid-area: gallery_1;
            background-image: url(../img/gallery/gallery_1.jpg);
            }
            li:nth-child(2){
            grid-area: gallery_2;
            background-image: url(../img/gallery/gallery_2.jpg);
            }
            li:nth-child(3){
            grid-area: gallery_3;
            background-image: url(../img/gallery/gallery_3.png);
            }
        }
    }
}
