/* =============
    Navigation
============= */
a:hover,
a:link {
    text-decoration: none;
    transition: 0.25s;
}

#off-canvas-container {
    /* -------------
        Here are the properties you can changes for the off-canvas navigation-slide
    ------------- */
    background-color: $drk-brwn;
    grid-template-areas: ". off-canvas";
    grid-template-columns: 10px auto;
    padding-top: 10px;
    // width of the off canvas navigation
    width: 250px;
    /* close btn */
    @include md {
        width: 300px;
    }
    @include lg {
        width: 350px;
    }

    div {
        > button {
            background-color: transparent;
            border: none;
            color: $white;
            cursor: pointer;
            font-size: rem-calc(25);
            margin-bottom: 10px;
            text-align: right;
            transition: 0.25s;
            width: 100%;
        }
        /* close btn */
        > button:hover {
            // color: $red;
        }

        nav {
            section {
                div {
                    display: flex;
                    width: 100%;

                    input {
                        background-color: $gold;
                        border: none;
                        color: $drk-brwn;
                        height: 50px;
                        outline: none;
                        padding: 0 0 0 10px;
                        width: 100%;

                        &::placeholder {
                            color: $drk-brwn;
                            opacity: 0.6;
                        }
                    }

                    button {
                        background: $orange;
                        color: #fff;
                        cursor: pointer;
                        font-size: 20px;
                        height: 50px;
                        text-align: center;
                        width: 70px;

                        img {
                            padding-top: 6px;
                        }
                    }
                }
            }

            ul {
                li {
                    text-align: right;

                    a:link,
                    a:visited {
                        color: $white;
                        display: inline-block;
                        font-size: rem-calc(20);
                        font-weight: bold;
                        padding: 15px 5% 0 0;
                        width: 95%;
                        @include md {
                            font-size: rem-calc(26);
                        }
                        @include lg {
                            font-size: rem-calc(30);
                        }
                    }
                }
            }

            ul:nth-child(2) {
                li {
                    a:link,
                    a:visited {
                        &::after {
                            background: $gold;
                            content: '';
                            display: block;
                            height: 1px;
                            margin-top: 15px;
                            width: 100%;
                        }
                    }

                    a:active,
                    a:hover {
                        background-color: $orange;
                        color: $black;
                    }
                }
            }

            ul:nth-child(3) {
                display: flex;
                justify-content: space-between;
                margin-left: 50%;
                padding-right: 5%;
            }
        }
    }
}

#burger-icon {
    background-color: $orange;
    border: 1px solid $drk-brwn;
    border-radius: 100px;
    font-size: rem-calc(18);
    height: 40px;
    left: 20px;
    outline: none;
    padding: 8px;
    position: fixed;
    top: 20px;
    width: 40px;
    z-index: 100;
    @include lg {
        font-size: rem-calc(28);
        height: 56px;
        left: 25px;
        top: 25px;
        width: 56px;
    }

    i {
        color: $white;
    }
}

#burger-icon:hover {
    background-color: $drk-brwn;
    border: 1px solid $orange;
}
