/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

main {}

.content-grid {
    display: grid;
    grid-template-areas: ". content .";
    grid-template-columns: 5% auto 5%;
    padding-top: 40px;
    @include lg {
        padding-top: 50px;
    }
    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    > div {
        grid-area: content;
    }
}
