/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 600px;

// Small tablets
$screen-md-min: 750px;

// Large tablets and small desktops
$screen-lg-min: 1000px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$orange: #FF9041;
$drk-brwn: #26271F;
$gold: #B4AB72;
